---
import Layout from '../layouts/Layout.astro';
import { getEntryBySlug } from "astro:content";
const entry = await getEntryBySlug("about", "index");
const { title,body } = entry.data;
import {Content as AboutContent} from '../content/about/index.md';
---
<Layout title="About PEPTI">
    <main>
       
    <section class="about" id="about">
        <AboutContent />
        
    </section>
    </main>


</Layout>