---
import Layout from '../layouts/Layout.astro';

import {Content as SPDGContent} from '../content/caspdg/index.md';
---
<Layout title="CASPDG">

        <section class="caspdg">
            <SPDGContent />
        </section>
          

    