---
import Layout from '../layouts/Layout.astro';
import {Content as ContactContent} from '../content/contact/index.md';

---

<Layout title="Contact Us" >

    <main>
        <section class='sectionContact'>

         <div class='contact-form'>
            <ContactContent />
            
         </div>
        </section>
    </main>
</layout>
