---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CTAButton from '../components/CTAButton.astro';

---

<Layout title="PEPTI">
	<main>
		
	<section class='sectiontop '>
		<h1>Welcome to PEPTI</h1>
		<p>The Partnerships for Effective Practices in Transition and Inclusion (PEPTI) project addresses critical needs in early education transition and inclusion. Our mission is to provide high-quality professional learning opportunities to early intervention and preschool staff on inclusion and transition practices. The project aims to build trusting family partnerships during the early start transition, enhance educator competencies in inclusive practices, and promote statewide adoption and sustainability through interagency collaboration. 
		Our vision is a world where every child, of every ability, has the opportunity to thrive in a supportive and nurturing educational environment. “One System, All Children: Better Together”  </p>
		<CTAButton body="Learn More About PEPTI", href="/about" title="Learn More About PEPTI"/>
	</section>

	<section class='sectionCards'>
		<div class="card-wrapper" id="card-wrapper">
			<div>
				<ul>
					<Card title='Inclusion'
						body='Focus Area 1: Embedded Instruction Framework of Effective Practices ' 
						href='/inclusion'/>
				</ul>
			</div>
			<div>
				<ul>
					<Card title='Transition'
					body='Focus Area 2: Family-Guided Transitions '
					href='/transition'/>
				</ul>
			</div>
			<div>
				<ul>
					<Card title='Interagency Collaboration'
				body='Focus Area 3: Interagency Collaboration and Statewide Scale-up '
				href='/taskforce'/>
				</ul>
			</div>
	</section>

	<section class='sectiontwo'>
		<p>Join Us in Our Journey! </p>
		<p>We invite educators, families, and stakeholders to join us in our journey towards a more inclusive and supportive educational system. Together, we can make a difference and create a brighter future for children with disabilities in California. 
			Explore our website to learn more about our initiatives, resources, and how you can get involved. Let's work together to empower every child to shine! </p>

	</section>


	</main>
	
</Layout>

