---
import Layout from '../layouts/LayoutAside.astro';
import mdx from '@astrojs/mdx';
import SideBar from '../components/SideBar.astro';
import SideNavButton from '../components/SideNavButton.astro';
import { getEntryBySlug } from "astro:content";
const entry = await getEntryBySlug("inclusion", "index");
const { staff, name,title, image, description } = entry.data;
import {Content as FocusTwo} from '../content/transition/index.md';
---
<Layout title="Transition">
    <section class='sectionTransitionHead'>
        <h1>Transition</h1>
    </section>
    <section class="sectionTransition">
        <FocusTwo />
    </section>
    <div slot="sideslot">
       
        <SideBar title="Navigation Sidebar" body="This" href="#" source="#" />
        <h2> Transition Resources</h2>
        
            <div class='sidenav'>
                <SideNavButton href="#" title="CEITAN’s Regional Center" body="" source="" />
            <SideNavButton href="#" title="Support materials" body='' source='' />
            <SideNavButton href="#" title="DDS Communities of Practice" />
        
      </div>