---
interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta charset="utf-8">
    <meta name="author" content="@PEPTI">
    <meta name="description" content="PETPI, Embedded Instruction for Early Learning">
    <meta property="og:url" content="https://pepti.org">
    <meta property="og:title" content="PETPI.The Partnerships for Effective Practices in Transition and Inclusion (PEPTI) Project provides personnel development in early intervention, early education, and transition services to improve results for young children with disabilities.">
    <meta property="og:site_name" content="PETPI">
    <meta property="og:description" content="The Partnerships for Effective Practices in Transition and Inclusion (PEPTI) Project provides personnel development in early intervention, early education, and transition services to improve results for young children with disabilities.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="The Partnerships for Effective Practices in Transition and Inclusion (PEPTI) Project provides personnel development in early intervention, early education, and transition services to improve results for young children with disabilities.">
    <meta name="twitter:description" content="The Partnerships for Effective Practices in Transition and Inclusion (PEPTI) Project provides personnel development in early intervention, early education, and transition services to improve results for young children with disabilities.">
    <meta name="twitter:creator" content="@pepti">
	<title>PEPTI</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" 
	type="text/css" href="/css/style.css" />
	</head>
	<a name='inde'></a>
	<div class="keyNav">
  <p><a href=/contact>Contact Us</a></p>
</div>
